<a href="https://colab.research.google.com/github/babygirl2000/WTM-GDG-Bambili-30days-of-Datascience/blob/main/Day13_maps.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
numbers = [1, 2, 3, 4, 5]
squared = []

for num in numbers:
    squared.append(num ** 2)


squared

[1, 4, 9, 16, 25]

In [3]:
def square(number):
    return number ** 2


numbers = [1, 2, 3, 4, 5]
squared = map(square, numbers)
list(squared)

[1, 4, 9, 16, 25]

In [4]:
numbers = [-2, -1, 0, 1, 2]

abs_values = list(map(abs, numbers))
abs_values

[2, 1, 0, 1, 2]

In [5]:
numbers = [1, 2, 3, 4, 5]

squared = map(lambda num: num ** 2, numbers)

list(squared)

[1, 4, 9, 16, 25]

In [6]:
first_it = [1, 2, 3]
second_it = [4, 5, 6, 7]

list(map(pow, first_it, second_it))

[1, 32, 729]

In [7]:
list(map(lambda x, y: x - y, [2, 4, 6], [1, 3, 5]))


list(map(lambda x, y, z: x + y + z, [2, 4], [1, 3], [7, 8]))

[10, 15]

In [8]:
string_it = ["processing", "strings", "with", "map"]
list(map(str.capitalize, string_it))

['Processing', 'Strings', 'With', 'Map']

In [9]:
list(map(str.lower, string_it))

['processing', 'strings', 'with', 'map']

In [10]:
with_spaces = ["processing ", "  strings", "with   ", " map   "]

list(map(str.strip, with_spaces))

['processing', 'strings', 'with', 'map']

In [11]:
with_dots = ["processing..", "...strings", "with....", "..map.."]

list(map(lambda s: s.strip("."), with_dots))

['processing', 'strings', 'with', 'map']

In [12]:
def rotate_chr(c):
    rot_by = 3
    c = c.lower()
    alphabet = "abcdefghijklmnopqrstuvwxyz"
    # Keep punctuation and whitespace
    if c not in alphabet:
        return c
    rotated_pos = ord(c) + rot_by
    # If the rotation is inside the alphabet
    if rotated_pos <= ord(alphabet[-1]):
        return chr(rotated_pos)
    # If the rotation goes beyond the alphabet
    return chr(rotated_pos - len(alphabet))

In [13]:
"".join(map(rotate_chr, "My secret message goes here."))

'pb vhfuhw phvvdjh jrhv khuh.'

In [14]:
def powers(x):
    return x ** 2, x ** 3


numbers = [1, 2, 3, 4]

list(map(powers, numbers))

[(1, 1), (4, 8), (9, 27), (16, 64)]

In [15]:
import math

numbers = [1, 2, 3, 4, 5, 6, 7]

list(map(math.factorial, numbers))

[1, 2, 6, 24, 120, 720, 5040]

In [16]:
# Transformation function
def square(number):
    return number ** 2

numbers = [1, 2, 3, 4, 5, 6]

# Using map()
list(map(square, numbers))


# Using a list comprehension
[square(x) for x in numbers]

[1, 4, 9, 16, 25, 36]

In [17]:
# Transformation function
def square(number):
    return number ** 2

numbers = [1, 2, 3, 4, 5, 6]

# Using map()
map_obj = map(square, numbers)
map_obj


list(map_obj)


# Using a generator expression
gen_exp = (square(x) for x in numbers)
gen_exp


list(gen_exp)

[1, 4, 9, 16, 25, 36]