<a href="https://colab.research.google.com/github/babygirl2000/WTM-GDG-Bambili-30days-of-Datascience/blob/main/Day4_Data_types.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
list1 = ["mango","pear","fruits","plum","plantain",3.4,5.0,2.0,2.2,9.8,1,2,3,4]
var1= "Hello" + " world"
print(var1)
list1.append(var1)
print(list1)

Hello world
['mango', 'pear', 'fruits', 'plum', 'plantain', 3.4, 5.0, 2.0, 2.2, 9.8, 1, 2, 3, 4, 'Hello world']

In [8]:
list4 = ['m','a','n','k','a',3,4,5,6,2,4.5,4.3,6.3,4.6]

In [9]:
list5 = list1 + list4
print(list5)

['mango', 'pear', 'fruits', 'plum', 'plantain', 3.4, 5.0, 2.0, 2.2, 9.8, 1, 2, 3, 4, 'Hello world', 'm', 'a', 'n', 'k', 'a', 3, 4, 5, 6, 2, 4.5, 4.3, 6.3, 4.6]

In [10]:
list2 = [5, 6, 7.0, "Eight", "Nine"]
list3 = []
for i in list2:
  list3.append(type(i))
print(list3)

[<class 'int'>, <class 'int'>, <class 'float'>, <class 'str'>, <class 'str'>]