<a href="https://colab.research.google.com/github/babygirl2000/WTM-GDG-Bambili-30days-of-Datascience/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
answer = 1 + 1
print(answer)

2

adds two numbers

In [5]:
var1 = 2 + 2
print(var1)
print(type(var1))
# var1 is of type int

4
<class 'int'>

adds two numbers

In [8]:
var2 = 3+2/5
print(var2)
print(type(var2))
#var2 is o type float

3.4
<class 'float'>

the output is a floating point number

In [11]:
var3 = 4 * 16
print(var3)
print(type(var3))
#var3 if of type int

64
<class 'int'>

In [14]:
var4 = 4 ** 6
print(var4)
print(type(var4))

4096
<class 'int'>

In [17]:
var5 = 'Hello' + ' ' + 'world'
print(var5)
print(type(var5))
#var5 is of type str

Hello world
<class 'str'>

In [20]:
var6 = 'Hello world ' * 5
print(var6)
print(type(var6))

Hello world Hello world Hello world Hello world Hello world
<class 'str'>

In [22]:
var7 = 4 % 3
print(var7)
print(type(var7))

1
<class 'int'>